n8n/workflow.json
{
  "name": "E-commerce Analytics Daily Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "python pipeline/run_pipeline.py"
      },
      "id": "run-pipeline",
      "name": "Run Python Pipeline",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.exitCode }}",
              "operation": "notEqual",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-failure",
      "name": "Pipeline Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "message": "E-commerce pipeline failed. Check Railway logs."
      },
      "id": "notify-failure",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 200]
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Run Python Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Python Pipeline": {
      "main": [
        [
          {
            "node": "Pipeline Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Failed?": {
      "main": [
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
